@import url('https://fonts.cdnfonts.com/css/snowy-christa');

@font-face {
    font-family: 'Advanced LED Board';
    src: url('../fonts/advanced_led_board-7.ttf') format('truetype');
}

@font-face {
    font-family: 'Digital Clock Font';
    src: url('../fonts/DigitalDisplayRegular-ODEO.ttf') format('truetype');
}

body {
    padding: 30px;
 
}

h1 {
    text-align: center;
    font-family: 'Advanced LED Board', sans-serif;
    color: #00E1FF;
    font-size: xx-large;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid black;
    border-radius: 10px;
    overflow: hidden;
}

th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: left;
    font-size: large;
}

th {
    font-family: 'Advanced LED Board', sans-serif;
    background-color: gold;
    font-weight: bold;
    font-size: large;
    color: #0D0D0D;
}

#plus {
    border-radius: 10px;
    background-color: rgb(233, 84, 84);
    border-width: 0.5px;
}

#minus {
    border-radius: 10px;
    background-color: lightgreen;
    border-width: 0.5px;
}


.green-button {
    color: lightgreen;
}

.red-button {
    color:rgb(233, 84, 84);
}

.points-button {
    border-radius: 50px;
    border-width: 0.5px;
    background-color: gold;
}

td {
    color: #00E1FF;
    font-family: 'Digital Clock Font', sans-serif;
    font-size: larger;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    color: #00E1FF;
    text-align: center;
    padding: 10px;
    font-size: small;
}

.switch {
    position: fixed;
    top: 10px;
    right: 10px;
    display: inline-block;
    width: 50px;
    height: 26px;
}


.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 26px;
}


.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}


input:checked + .slider {
    background-color: #4CAF50;
}

input:checked + .slider:before {
    transform: translateX(24px);
}


body.dark-mode {
    background-color: #121212;
    color: white;
    transition: background 0.3s ease, color 0.3s ease;
}

#add-teams {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center; 
    margin-top: 20px; 
}

#reset-button {
    border-radius: 10px;
    font-family:  'Advanced LED Board', sans-serif;
    background-color: rgb(233, 84, 84);
}

#add-team-btn {
    border-radius: 10px;
    font-family:  'Advanced LED Board', sans-serif;
    background-color: rgb(214, 209, 209);
}

#team-name-input {
    border-radius: 10px;
    font-family:  'Snowy-Christa', sans-serif;
    background-color: rgb(214, 209, 209);
    text-align: center;
    max-height: 200px;
    color: black;
    font-size: 16px;
    height: 30px;
}

.delete-team-button {
    border-radius: 10px;
    font-family:  'Advanced LED Board', sans-serif;
    background-color: rgb(233, 84, 84);
}